html, body {
    margin: 0;
    /* background: #cbe5fb; */
    background: #1b2126;
    direction: rtl;
}

.btn, button {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: 0px;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
    outline: none;
    border-bottom: 4px solid;
    border-right: 3px solid;
    cursor: pointer;
}

.btn:hover, button:hover {
    filter: brightness(0.9);
    border-bottom-width: 3px;
}

.btn:active, button:active {
    filter: brightness(0.8);
    border-bottom-width: 0px;
}

.hover-bounce {
    transition: transform 0.3s cubic-bezier(0.38, 1.72, 0.58, 1.57);

}
.hover-bounce:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}